{% extends "read/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="background">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xl-4">
                <div class="card card-form">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend  class="border-bottom mb-4 text-center">Welcome back to <strong>Read.More</strong>!</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </div>
                        <small class="text-muted ml-2">
                            <a class="link fs" href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>
                    </form>
                    <div class="border-top pt-3 text-center">
                        <small  >
                            Need An Account? <a href="{% url 'register' %}" class="ml-2 link ">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}